/* Estilos generales para el formulario */
body {
    background-color: #121212;
    color: #fff;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: #181818;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Títulos y subtítulos */
form h2 {
    color: #1DB954;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

form p {
    text-align: center;
    color: #aaa;
    margin-bottom: 20px;
}

/* Estilos de los campos de entrada */
form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

form input::placeholder {
    color: #aaa;
}

/* Estilo del botón de registro */
form button {
    width: 100%;
    padding: 10px;
    background-color: #1DB954;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #17a246;
}

/* Estilos adicionales */
form .error {
    color: #e74c3c;
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
}

form a {
    display: block;
    text-align: center;
    color: #1DB954;
    text-decoration: none;
    margin-top: 10px;
}

form a:hover {
    text-decoration: underline;
}

/* Estilo responsivo */
@media (max-width: 400px) {
    form {
        width: 100%;
        padding: 20px;
    }
}
